<div class="card">
    <div class="p-fluid">
        <div class="p-col-12">
            <p-table
                    [value]="listdata"
                    [paginator]="true"
                    [rowHover]="true"
                    [rows]="10"
                    #dt
                    [rowsPerPageOptions]="[10,25,50]"
                    styleClass="p-datatable-gridlines"
                    [showCurrentPageReport]="true"
                    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                    [globalFilterFields]="['dimensi_name','name']">
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-jc-between">
                        <div *ngIf="listdata.length == 0"></div>
                        <div *ngIf="listdata.length > 0">
                            <button type="button" pButton pRipple icon="pi pi-file-o" (click)="exportCSV()" class="p-mr-2" pTooltip="CSV" tooltipPosition="bottom"></button>
                            <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()" class="p-button-success p-mr-2"  pTooltip="XLS" tooltipPosition="bottom"></button>
                            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()" class="p-button-warning p-mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
                        </div>
                        <div>
                          <span class="p-input-icon-left p-ml-auto">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')" placeholder="Search keyword" />
                          </span>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 45%; text-align: center" [pSortableColumn]="'dimensi_name'">Dimensi
                            <span style="float: right">
                              <p-sortIcon [field]="'dimensi_name'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                            </span>
                        </th>
                        <th style="width: 55%; text-align: center" [pSortableColumn]="'Name'">Group
                            <span style="float: right">
                              <p-sortIcon [field]="'name'" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                            </span>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-data>
                    <tr>
                        <td style="text-align: left;">{{ data.dimensi_name }}</td>
                        <td style="text-align: left">{{ data.name }}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="emptymessage" let-columns>
                    <tr>
                        <td [attr.colspan]="2" style="text-align: center;">
                            Data tidak Tersedia
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="p-col-12">
            <p-messages [value]="msgs"></p-messages>
        </div>
    </div>
</div>
