::ng-deep {
  .p-datatable-table {
    .p-datatable-thead {
      tr th{
        color: #FFFFFF;
        background: #009999 !important;
      }
    }
  }
  .p-fluid{
    .p-button-custom {
      width: unset !important;
    }
  }
}
